.badge-text {
    font-size: 1.8rem;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
}

.card {
    position: relative;
    margin: 1.75rem 0.875rem 1rem;
    background: #fff;
    box-shadow: 0 4px 9px rgba(0, 32, 128, 0.09);
    border-radius: 0.25rem;
    padding: 1rem;
}

.preview-card {
    margin-top: 1.5625rem;
    overflow: hidden;
    min-height: 65px;
}
.card,
.card .card-title {
    transition: all 0.3s ease;
    color: #212121;
    font-weight: 400;
}

.preview-card .card-title a,
.preview-card .card-title a:link,
.preview-card .card-title a:visited {
    line-height: 1;
    color: #212121;
    font-size: 1.2em;
}

.card {
    position: relative;
    margin: 1.75rem 0.875rem 1rem;
    background: #fff;
    box-shadow: 0 4px 9px rgba(0, 32, 128, 0.09);
    border-radius: 0.25rem;
    padding: 1rem;
}
.card .card-meta {
    display: flex;
    align-items: flex-start;
}

.card .card-meta .card-icon {
    position: relative;
    display: inline-block;
    margin: 0.625rem 0.5rem 0.125rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}
.card-icon.icon-blog {
    background: #1f253d;
    color: #edf0fc;
}

.card .card-meta .card-data {
    flex: 1 1;
}

.card .card-meta .card-title {
    margin: 0.625rem 0.5rem 0 0.75rem;
    line-height: 1.5rem;
}

.card .card-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0.625rem 0.5rem 0.125rem;
}

.card,
.card .card-title {
    transition: all 0.3s ease;
    color: #212121;
}

.tag-list {
    margin: 0 0.5rem 0 0.75rem;
    display: inline-block;
    color: #616b8f;
    font-size: 0.875rem;
    line-height: 1rem;
    transition: all 0.3s ease;
}

.card .card-description {
    padding-top: 1rem;
    margin: 0;
    color: #424242;
    line-height: 1.35;
    font-size: 1rem;
    min-height: 25px;
}

.card .card-description > p:last-child {
    margin-bottom: 1.375rem;
}
.card .card-description > p {
    margin: 0.8125rem 0.5rem 1.5rem;
    line-height: 2;
}
