.contenido-modulo {
	padding: 2em 2em 4em 2em;
}

.contenido-modulo .container {
	width: 100% !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
	  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  }
  
  .contenido-modulo .container .recuadro {
	margin: 0px !important;
  }
  
  .contenido-modulo img {
	width: 100%;
  }
  
  .player-wrapper {
	position: relative;
	padding-top: 0px !important;
  }
  
  .react-player-course {
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .footerPadding {
	padding-bottom: 53px;
  }
  