@import "./Animations.scss";
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #007bff;
    background-color: #f4f7f9;
    border-left: 0.3em solid #007bff;
    border-radius: 0;
    &:hover {
        border-radius: 0;
        background-color: rgb(153, 197, 255);
    }
}

.nav-link {
    &:hover {
        border-radius: 0;
        background-color: rgb(153, 197, 255);
    }
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
    outline: none;
}

.main-title {
    font-weight: 200;
}

.tab-content {
    margin-top: 0;
    padding-top: 2em;
    background: transparent !important;
    padding: 2em;
    /* border-color: #dee2e6 #dee2e6 #fff; */
    border: none !important;
    border-top: none;
}

.link-url {
    cursor: pointer;
    text-align: center;
    &:hover {
        color: blue;
    }
}

.faded-text {
    opacity: 0;
    transition: opacity 1s ease-out;
    &.visible {
        opacity: 1;
    }
}

.action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.h-vh-100 {
    height: calc(100vh - 85px);
}

.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.pointer {
    cursor: pointer !important;
}

.p-none {
    padding: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pr-3 {
    padding-right: 3em !important;
}
.m-none {
    margin: 0 !important;
}
.mr-1 {
    margin-right: 1em;
}
.absolute {
    position: absolute !important;
}
.zindex-sticky {
    z-index: 1020 !important;
}
.row [class*="col-"] {
    transition: flex 0.5s ease-in-out, max-width 0.5s ease-in-out;
}
.jumbotron {
    padding: 2rem;
}
.justify-content-evenly{
    justify-content: space-evenly;
}