#uncontrolled-tab-example-tab-register{
    width: 50%;
    text-align: center;
}

#uncontrolled-tab-example-tab-login{
    width: 50%;
    text-align: center;
}

.tab-content {
     margin-top: 0; 
    padding-top: 2em;
    background: white;
    padding: 2em;
    /* border-color: #dee2e6 #dee2e6 #fff; */
    border: 1px solid #dee2e6;
    border-top: none;
}